<html xmlns:th="http://www.thymeleaf.org">
    <div class="patient-navbar" th:fragment="medical-navbar">
      <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSecond" aria-controls="navbarSecond" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSecond">
                  <ul class="navbar-nav nav-underline mx-auto">
                        <li class="nav-item"></li>
                          <a class="nav-link" th:href="@{/medical-staff/dashboard}" th:text="#{home}" aria-label="#{home}" th:classappend="${currentUri.equals('/medical-staff/dashboard')} ? 'active'"></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" th:href="@{/medical-staff/day-appointments}" th:text="#{dayÁppoiments}" aria-label="#{dayÁppoiments}" th:classappend="${currentUri.equals('/medical-staff/day-appointments')} ? 'active'"></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" th:href="@{/medical-staff/all-appointments}" th:text="#{dayÁppoiments}" aria-label="#{dayÁppoiments}" th:classappend="${currentUri.equals('/medical-staff/all-appointments')} ? 'active'"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/medical-staff/patients}" th:text="#{myPatients}" aria-label="#{myPatients}" th:classappend="${currentUri.equals('/medical-staff/patients')} ? 'active'"></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" th:href="@{/medical-staff/horary}" th:text="#{workingDay}" aria-label="#{workingDay}" th:classappend="${currentUri.equals('/medical-staff/medical-staff/horary')} ? 'active'"></a>
                      </li>
                  </ul>
              </div>
          </div>
      </nav>
    </div>
  


  </div>
</html>