<html xmlns:th="http://www.thymeleaf.org">
  <!--PRIMER NAVBAR-->
  <div th:fragment="medical-navbar">
    <div class="top-nav">
        <nav class="nav p-3">
          <img src="/img/logo-2.png" alt="" width="80" height="50">
          <ul class="navbar-nav">
          <li class="nav-item dropstart px-4">
            <a  th:text="#{lenguage}" aria-label="#{lenguage}" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" th:href="@{/change-language?lang=es}">Español</a></li>
              <li><a class="dropdown-item" th:href="@{/change-language?lang=en}">English</a></li>
              <li><a class="dropdown-item" th:href="@{/change-language?lang=pt}">Portuguese</a></li>
            </ul>
          </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
                <a th:text="#{user}" aria-label="#{user}" class="nav-link dropdown-toggle px-4" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a th:text="#{profile}" class="dropdown-item" href="#" aria-label="#{profile}"></a></li>
                    <li><a th:text="#{help}" class="dropdown-item" href="#" aria-label="#{help}"></a></li>
                    <li><a th:text="#{changePassword}" class="dropdown-item" href="#" aria-label="#{changePassword}"></a></li>
                    <li><hr class="dropdown-divider"></li>
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="dropdown-item" th:text="#{logout}" aria-label="#{logout}"></button>
                    </form>
                </ul>
            </li>
          </ul>
        </nav>
      </div>

    <!-- SEGUNDA NAVBAR -->
    <div class="patient-navbar">
      <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSecond" aria-controls="navbarSecond" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSecond">
                  <ul class="navbar-nav nav-underline mx-auto">
                        <li class="nav-item"></li>
                          <a class="nav-link" th:href="@{/medical-staff/dashboard}" aria-label="#{home}" th:classappend="${currentUri.equals('/medical-staff/dashboard')} ? 'active'">Inicio</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" th:href="@{/medical-staff/appointments}" aria-label="#{appointments}" th:classappend="${currentUri.equals('/medical-staff/appointments')} ? 'active'">Consuldas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/medical-staff/patients}" aria-label="#{appointments}" th:classappend="${currentUri.equals('/medical-staff/patients')} ? 'active'">pacientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/medical-staff/upload-document}" aria-label="#{appointments}" th:classappend="${currentUri.equals('/medical-staff/upload-document')} ? 'active'">documentos</a>
                        </li>
                  </ul>
              </div>
          </div>
      </nav>
    </div>
  


  </div>
</html>