<html xmlns:th="http://www.thymeleaf.org">
  <div class="container-fluid py-2"  th:fragment="navbar" id="navbar">
    <div class="home-navbar">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" th:href="@{/home/MiSalud}">
            <img src="/img/logo-1.png" alt="Bootstrap" width="90" height="60">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a th:text="#{home}" aria-label="#{home}" class="nav-link active" aria-current="page" th:href="@{/home/MiSalud}"></a>
              </li>
              <li class="nav-item dropdown">
                <a  th:text="#{lenguage}" aria-label="#{lenguage}" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" th:href="@{/common/change-language?lang=es}">Español</a></li>
                  <li><a class="dropdown-item" th:href="@{/common/change-language?lang=en}">English</a></li>
                  <li><a class="dropdown-item" th:href="@{/common/change-language?lang=pt}">Portuguese</a></li>
                </ul>
              </li>
            </ul>
          </div>
            <span>
            <button th:text="#{login}" aria-label="#{login}" type="button" class="btn btn-primary" th:onclick="|window.location.href='@{/auth/login}'|"></button>
            <button th:text="#{register}" aria-label="#{register}" type="button" class="btn btn-secondary" th:onclick="|window.location.href='@{/auth/register}'|"></button>
            </span>
          </span>
        </div>
    </nav>
    </div>
  </div>
</html>