<html xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="patient-navbar">
    <div class="patient-navbar">
      <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSecond" aria-controls="navbarSecond" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSecond">
                  <ul class="navbar-nav nav-underline mx-auto">
                        <li class="nav-item"></li>
                          <a th:text="#{home}" class="nav-link" th:href="@{/patient/dashboard}" aria-label="#{home}" th:classappend="${currentUri.equals('/patient/dashboard')} ? 'active'"></a>
                        </li>
                        <li class="nav-item">
                          <a th:text="#{appointments}" class="nav-link" th:href="@{/patient/appointments}" aria-label="#{appointments}" th:classappend="${currentUri.equals('/patient/appointments')} ? 'active'"></a>
                        </li>
                        <li class="nav-item">
                          <a th:text="#{authorizations}" class="nav-link" th:href="@{/patient/authorizations}" aria-label="#{authorizations}" th:classappend="${currentUri.equals('/patient/authorizations')} ? 'active'"></a>
                        </li>
                        <li class="nav-item">
                          <a th:text="#{results}" class="nav-link" th:href="@{/patient/results}" aria-label="#{results}" th:classappend="${currentUri.equals('/patient/results')} ? 'active'"></a>
                        </li>
                        <li class="nav-item">
                          <a th:text="#{history}" class="nav-link" th:href="@{/patient/history}" aria-label="#{history}" th:classappend="${currentUri.equals('/patient/history')} ? 'active'"></a>
                        </li>
                        <li class="nav-item">
                          <a th:text="#{medicines}" class="nav-link" th:href="@{/patient/medicines}" aria-label="#{medicines}" th:classappend="${currentUri.equals('/patient/medicines')} ? 'active'"></a>
                        </li>
                  </ul>
              </div>
          </div>
      </nav>
    </div>
  </div>
</html>